*{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.upper{
    text-transform: uppercase;
}

.header{
    background-color:#f7f9fa;
}

.head_content{
    height: 80px;
    width: 1250px;
    max-width: 100%;
    margin: auto;
    align-items: center;
}

.logo{
    width: 200px;
    height: 80px;
}

.div_input{
    position: relative;
}

.input{
    width: 300px;
    height: 34px;
    border: solid rgb(214, 213, 213) 1px;
    border-radius: 3px;
}

.icon_abs{
    position: absolute;
}

.search{
    right: 7px;
    top: 10px;
}

.input::focus{
    border: solid rgb(235, 229, 229) 1px;
}

.login{
    width: 200px;
    padding: 0;
    margin: 0;
    position: relative;
}

.user{
    left: -5px;
}

.black{
    background-color: black;
    width: 100%;
    font-weight: 500;
}

.menu{
    width: 1550px;
    padding: auto;
    margin: auto;
}

ul{
    list-style: none;
    margin: 0;
    color: white;
    line-height: 50px;
}

li{
    width: 178.5px;
    transition: 0.3s;
}

li:hover{
    cursor: pointer;
    color: chocolate;
}

.slider_container{
    height: 450px;
}

.slider{
    width: 100%;
    padding: 0 !important;
    height: min-content;
    vertical-align: baseline;
}

.slider img{
    max-width: 1800px;
    width: auto;
}

.awssld {
    --slider-height-percentage: 450px !important;

}

.awssld__bullets {
    bottom: 7px !important;
    z-index: 5;
}

.container{
    width: 1250px;
    max-width: 94%;
    margin: auto;
    padding: 15px;
}

.chose_time{
    display: flex;
    justify-content: flex-start;
    height: 50px;
    max-width: 100%;
    position: relative;
}

.chose_time::after{
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1px;
    width: 100%;
    background-color: rgb(196, 193, 191);
}

.chose_time a{
    line-height: 35px;
    position: relative;
    color: rgb(153, 152, 152);
    margin: 10px 45px 0 0; 
    font-size: large;
}

.chose_time a::after{
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    width: 98%;
    background-color: chocolate;
    transform: scale(0);
    transition: 0.5s;

}

.chose_time a:hover:after{
    transform: scale(1);
}


.list_films{
    width: 100%;
    margin-top: 15px;
    flex-direction: row;
    font-weight: 500;
}

.film{
    margin-top: 10px;
    margin-top: 25px;
    width:32%;
}

.film p{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: left;
}

.film p{
    color: #43464b;
}

.film p.vn{
    color: #a0a3a7;
}

.film img{
    width: 100%;
    height: 100%;
}

.btn {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f26b38;
    border: 1px solid #f26b38;
    padding: 15px 20px;
    line-height: 1;
    transition: 0.5s;
}

.btn:hover {
    color: #ffffff;
    background-color: #f26b38;
    border-color: #f26b38;
}

.fl-right {
    float: right;
}

footer{
    background-color: rgba(24, 23, 23, 0.842);
    color: white;
    height: 65px;
    width: 100%;
}

footer p{
    width: 1250px;
    margin: auto;
    line-height: 65px;
}
