.review-film{
    width: 100%;
    margin-top: 75px;
}

.col{
    width: 49%;
}

.title-block{
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
}

.title-block a{
    position: relative;
    cursor: pointer;
    color: #43464b;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
}

.title-block a:active{
    color: chocolate;
}

.title-block a::after{
    content: " ";
    position: absolute;
    bottom: -7px;
    left: 0px;
    height: 2px;
    width: 45%;
    background-color: chocolate;
    /* transform: scale(0); */
    transition: 0.3s;

}

.title-block a:hover:after{
    width: 100%;
    transform: scale(1);
}

.title-block a:hover{
    color: chocolate;
}

.block{
    margin-bottom: 25px;
}

.block a{
    width: 37%;
    transition: 0.4s;
    align-items: center;
    position: relative;
    height:min-content;
}

.block:hover>div>h5>a{
    color:rgb(223, 114, 37);
}

.block a div img{
    width: 100%;
}

.block a>div::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    transition: 0.3s;
}

.block:hover a>div::after{
    content: " ";
    position: absolute;
    background-color: rgba(24, 24, 24, 0.377);
}


.block .movie-thum{
    width: 60%;
    text-align: left;
    color: #a0a3a7;
}

.movie-thum h5{
    margin: 0;
}

.movie-thum h5 a{
    line-height: 22px;
    color: #43464b;
    cursor: pointer;
    font-family: inherit;
}

.no-space-between{
    justify-content: flex-start;
}

.promotion-item-home{
    width: 23%;
    margin-right: 2.66%;
    position: relative;
    height: min-content;
    margin-bottom: 25px;
}

.promotion-item-home:nth-child(4n+4){
    margin-right: 0%;
}

.promotion-item-home img{
    width: 100%;
    height: auto;
}

.promotion-item-home .overlay {
    position: absolute;
    z-index: 99;
    width:fit-content;
    height: 99%;
    width: 100%;
    top:0;
    left: 0;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    align-items: center;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
}

.promotion-item-home:hover .overlay{
    opacity: 1;
}


.promotion-item-home .overlay h2 {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

.secondary-white {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    border: 1px solid #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    line-height: 1;
}

.content-text p{
    margin-top:0in;
    margin-right:0in;
    margin-bottom:10.0pt; 
    margin-left:0in; 
    text-align:justify;
}

span{
    font-size:12pt;
}
